@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Pacifico&display=swap');

/*
    font-family: 'Roboto', sans-serif;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Pacifico', cursive;

*/

* { 
    margin: 0;
    padding: 0;
}

html { 
    height: 100vh;
    
}

body { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    background-color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

}


#joke_container { 
    border: 0px solid none;
    border-radius: 20px;
    padding: 20px;
    max-width: 500px;
    background-color: rgba(49, 48, 48, 0.593);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  5px 5px 10px #bebebe,
             -5px -5px 10px #ffffff;
}

#joke_text_container { 
    margin: 20px 0px;
    margin-bottom: 50px;
    padding: 0px 15px;
}

#joke_text { 
    color: black;
    font-weight: 500;
}

#preloader_container { 
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    max-width: 500px;
}

.preloader { 
    width: 50px;
    height: 50px;
    background: url(preloader.gif) no-repeat center center;
}

#fetch_joke_button { 
    padding: 20px;
    background-color: rgba(255, 38, 0, 0.868);
    color: black;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  5px 5px 10px #bebebe,
             -5px -5px 10px #ffffff;
}

#fetch_joke_button:hover { 
    cursor: pointer;
    color: white;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: inset 20px 20px 60px #bebebe,
            inset -20px -20px 60px #ffffff;
}


#fetch_joke_button:active { 
    border-radius: 20px;
        background: #e0e0e0;
        box-shadow: inset 20px 20px 60px #bebebe,
            inset -20px -20px 60px #ffffff;
}



footer { 
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer > a { 
    text-decoration: none;
    color: inherit;
    font-family: 'Pacifico', cursive;
    font-family: 'Cedarville Cursive', cursive;
    

}




@media only screen and (max-width: 500px) { 
    #joke_container { 
        max-width: 300px;
    }

    #preloader_container { 
        max-width: 300px;
    }

    #fetch_joke_button:hover {
        color: black;
        border-radius: 20px;
        background: linear-gradient(145deg, #f0f0f0, #cacaca);
        box-shadow:  5px 5px 10px #bebebe,
             -5px -5px 10px #ffffff;
    }

    #fetch_joke_button:active { 
        color: white;
        border-radius: 20px;
        background: #e0e0e0;
        box-shadow: inset 20px 20px 60px #bebebe,
            inset -20px -20px 60px #ffffff;
    }
}

